{% extends 'base.html' %}

{% block body %}

<header class='center graph_header'>
    <h1>Graphs of the Data</h1>
    <h3>The Data Visualized</h3>
</header>

<!-- navbar code -->
<nav class='center graph_nav affix' role='navigation'>
        <li><a href='/index'>Home</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li><a href='#total_murders'>Total Murders</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li><a href='#men_murders'>Murders by Men</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li><a href='#women_murders'>Murders by Women</a></li>
</nav>

<!-- Code for first graph section -->
<div id='total_murders' class='graph_container'>
    <h1 class="center">Total Murders: 1980-2014</h1>
    <img src='static/img/fig_2.png' alt='graph of murders 1980-2014'>
</div>

<hr>

<!-- Code for Second graph section -->
<div id='men_murders' class='graph_container'>
    <h1 class='center'>Total Murders committed by Men: 1980-2014</h1>
    <img class='center image_fix' src='static/img/male_graph.png' alt='graph of murders committed by men 1980-2014'>
</div>

<hr>

<!-- Code for Third graph section -->
<div id='women_murders' class='graph_container'>
    <h1 class='center'>Total Murders committed by Women: 1980-2014</h1>
    <img src='static/img/female_graph.png' alt='graph of murders committed by Women 1980-2014'>
</div>


{% endblock %}
