{% extends 'base.html' %}

{% block body %}

<div class="index_div"> <!-- start of index_div div -->

    <div class='header_section'><!-- start of header_section div -->
        <div class='nav_bar'>
            <nav>
                <ul>
                    <li>Home</l1>
                    <li>By State</li>
                    <li>Sign Out</li>
                </ul>
            </nav>
        </div>
        <div class='nav_pic'>
        </div>
    </div><!-- End of header_section div -->

</div> <!-- End of index_div div -->

{% endblock %}
