{% extends 'base.html' %}

{% block body %}

<div class="index_div"> <!-- start of index_div div -->

    <div class='header_section'><!-- start of header_section div -->
        <div class='nav_bar'>
            <nav>
                <ul>
                    <li>Home</l1>
                    <li>By State</li>
                    <li><a href="/sign_out">Sign Out</a></li>
                </ul>
            </nav>
        </div>
        <div class='nav_pic'>
        </div>
    </div><!-- End of header_section div -->

    <footer>
        Copyright &copy; 2017 Double Sun Productions
        <br/>
        <p>
            <a href="https://github.com/ravenusmc"><i className="fa fa-github fa-2x" aria-hidden="true"></i></a>
            <a href="https://twitter.com/"><i className="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/mcuddy1/"><i className="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
        </p>
    </footer>


</div> <!-- End of index_div div -->

{% endblock %}
