{% extends 'base.html' %}

{% block body %}

<div class="index_div"> <!-- start of index_div div -->

    <!-- First Section -->
    <div class='header_section'><!-- start of header_section div -->
        <div class='nav_bar'>
            <nav>
                <h1 class='center'>Studying Murder in the U.S.</h1>
                <ul>
                    <li>Home</l1>
                    <li>By State</li>
                    <li>By Year</li>
                    <li><a href="/sign_out">Sign Out</a></li>
                </ul>
            </nav>
        </div>
        <div class='nav_pic'>
        </div>
    </div><!-- End of header_section div -->
    <!-- End of First Section -->

    <!-- Second Section -->
    <div class='header_section'><!-- start of header_section div -->
        <div class='area_one'>
        </div>
        <div class='area_two'>
        </div>
    </div><!-- End of header_section div -->
    <!-- End of Second Section -->

    <!-- Third Section -->
    <div class='header_section'><!-- start of header_section div -->
        <div class='area_one_third'>
        </div>
        <div class='area_two_third'>
        </div>
    </div><!-- End of header_section div -->
    <!-- End of third Section -->

    <!-- Footer Section -->
    <footer>
        Copyright &copy; 2017 Mike Cuddy Productions
        <br/>
        <p>
            <a href="https://github.com/ravenusmc"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
            <a href="https://twitter.com/"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/mcuddy1/"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
        </p>
    </footer>


</div> <!-- End of index_div div -->

{% endblock %}
