{% extends 'base.html' %}

{% block body %}

<div id="container"></div>

<script src="{{ url_for('static', filename='./bower_components/react/react.min.js') }}"></script>
<script src="{{ url_for('static', filename='./bower_components/react/JSXTransformer.js') }}"></script>

<script type="text/jsx">

  var HelloWorld = React.createClass({
    render: function () {
      return (
        <div className='main_div'>
            <SectionOne/>
            <SectionTwo/>
        </div>

      );
    }
  });

  var SectionOne = React.createClass({
      render: function() {
          return (
              <div className='sectionOne'>
                <div className='login_heading'>
                    <h1>Examining Murder in the U.S.</h1>
                </div>
              </div>
          )
      }
  })

  var SectionTwo = React.createClass({
      render: function() {
          return (
              <div className='sectionTwo'>
                <div className="login_container">
                <h1 className='center'>Login Form</h1>
                <form onsubmit='return validateForm();' method="POST">
                    <p>Username: <input name='username' type='text'/></p>
                    <p>Password: <input name='password' type='text'/></p>
                    <input type='submit'/>
                    <button>Sign Up</button>
                </form>
                </div>
              </div>
          )
      }
  })


  React.render(
    <HelloWorld/>,
    document.getElementById('container')
  );
</script>

{% endblock %}
