/* Generic Login Information */

.center {
    text-align: center;
}

/* CSS For Login Page */
.main_div {
    display: flex;
    flex-direction: row;
}

.sectionOne {
    flex: 5;
    background-image: url(https://source.unsplash.com/XPcsu_Da5qw);
    height: 685px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login_heading {
    background-color: rgba(139, 142, 150, 0.9);
    padding-left: 10px;
    padding-right: 10px;
}

.sectionTwo {
    background-color: rgb(139, 142, 150);
    flex: 5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login_container {
    background-color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
}
