/* Generic CSS */

.center {
    text-align: center;
    color: #333;
}

footer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 3px solid #333;
}

/* CSS For Login Page */
.main_div {
    display: flex;
    flex-direction: row;
}

.sectionOne {
    flex: 5;
    background-image: url(https://source.unsplash.com/XPcsu_Da5qw);
    height: 685px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login_heading {
    background-color: rgba(139, 142, 150, 0.9);
    padding-left: 10px;
    padding-right: 10px;
}

.sectionTwo {
    flex: 5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login_container {
    background-color: rgb(139, 142, 150);
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
}

.input_area {
    text-align: center;
}

/* CSS for Sign Up page */

.signUp_main {
    background-image: url(https://source.unsplash.com/QCFWT1V4k7k);
    height: 685px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signUp_container {
    padding-left: 10px;
    padding-right: 10px;
    border: 3px solid black;
    background-color: rgba(139, 142, 150, 0.7);
}

/* CSS for index Page */

.index_div {
    display: flex;
    flex-direction: column;
}

.header_section {
    display: flex;
    flex-direction: row;
    height: 685px;
    justify-content: center;
}

.page_title {
    font-size: 45px;
}

.nav_bar {
    flex: 5;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: black;
}

ul li a:hover {
    background-color: #333;
    color: white;
}

.nav_pic {
    flex: 5;
    background-image: url(https://source.unsplash.com/opuSVZbNLGg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

/* CSS for second section */
.area_one {
    flex: 5;
    background-image: url(https://source.unsplash.com/biUw5Nf4Ex8);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.area_two {
    flex: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CSS for third section */
.area_one_third {
    flex: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.area_two_third {
    flex: 5;
    background-image: url(https://source.unsplash.com/50XN7cidjCc);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

/* Fourth Area CSS */
.area_one_fourth {
    flex: 5;
    background-image: url(https://source.unsplash.com/2qYeqdDBAqQ);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.area_two_fourth {
    flex: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Fifth Area */
.area_one_fifth {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.area_two_fifth {
    flex: 5;
    background-image: url(https://source.unsplash.com/2ogkxH66ljU);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

/* CSS for Graph Page */
.wrapper {
    margin-left: 5%;
    margin-right: 5%;
}

.graph_header {
    color: #333;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.graph_nav {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgba(255, 255, 255, 0.7);
}

.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}

.graph_nav li {
    text-decoration: none;
    color: blue;
    display: inline;
    font-size: 35px;
}

.graph_nav li a {
    text-decoration: none;
    color: #333;
}

.graph_nav li a:hover {
    color: white;
    background-color: #333;
    border-radius: 7px;
    padding: 3px;
}

.graph_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

img {
  height: 500px;
  width: 1000px;
}


@media only all and (max-width: 768px){

    .main_div {
        display: flex;
        flex-direction: column;
    }

    .sectionOne {
        display: none;
    }

    .sectionTwo {
        background-color: rgb(139, 142, 150);
    }

    .login_container {
        background-color: white;
        padding: 10px 10px 10px 10px;
        border-radius: 5px;
        margin-top: 150px;
        margin-bottom: 150px;
    }

    .page_title {
        font-size: 25px;
    }

    .nav_bar {
        flex: 5;
        font-size: 20px;
        line-height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header_section {
        display: flex;
        flex-direction: column;
        height: 685px;
        justify-content: center;
    }

    .area_one_third {
        border-top: 3px solid #333;
    }

}
